################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartCharging.Infrastructure/obj
/SmartCharging.Infrastructure/bin/Debug/net8.0
/SmartCharging.Domain/obj
/SmartCharging.Domain/bin/Debug/net8.0
/SmartCharging/bin/Debug/net8.0
/SmartCharging/obj
/SmartCharging/.vs/SmartCharging

SmartCharging/.vs/ProjectEvaluation/smartcharging.metadata.v7.bin

SmartCharging/.vs/ProjectEvaluation/smartcharging.projects.v7.bin
